---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2001年宇宙の旅">
	<main>
		<h1>2001年宇宙の旅</h1>
    <a href="/スタンリー・キューブリック">スタンリー・キューブリック</a>

    <img src="https://eiga.k-img.com/images/movie/22530/photo/2e767b4aa2e0aee2/640.jpg?1537511952" />

	</main>
</Layout>
