---
import Layout from '../layouts/Layout.astro';
---

<Layout title="2024">
	<main>
		<h1>2024</h1>
		<ul>
			<li>ユーザー体験でモノを売る</li>
			<li>エモーショナルデザイン</li>
			<li>創造や遊びは楽しいことが大事</li>
			<li>そういうものを作りたい</li>
			<li>パフォーマンスも楽しさのためにあるといった感じ</li>
		</ul>
	</main>
</Layout>
