---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alto">
	<main>
		<h1>Alto</h1>
    <p>Alto（アルト）は、後にデスクトップ・メタファーを使用し、グラフィカルユーザインタフェース (GUI) をベースにしたオペレーティングシステム (OS) をサポートするように設計された最初のコンピュータである。最初のマシンは年月日に動き始めた。Appleが大規模市場向けGUI搭載パソコン「Macintosh」を発表する年以上前のことである。</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Xerox_Alto_mit_Rechner.JPG/480px-Xerox_Alto_mit_Rechner.JPG" />
	</main>
</Layout>
