---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Common Crawl">
	<main>
		<h1>Common Crawl</h1>
		<p><a href="https://commoncrawl.org/">https://commoncrawl.org/</a></p>

<p>データセットには著作権で保護された作品が含まれており、それらはフェアユースに基づいたうえでアメリカ合衆国から提供されている</p>
<p>他国の研究者は、文章をシャッフルしたり、共通のデータセットを参照したりするなどして、他国の著作権法を回避している</p>

<img src="https://cdn.prod.website-files.com/6479b8d98bf5dcb4a69c4f31/649b5869af56f6df617cfb1f_CC_Logo_Blue_Auto.svg" class="w-64" />

  </main>
</Layout>
