---
import Layout from '../layouts/Layout.astro';
---

<Layout title="iMac">
	<main>
		<h1>iMac</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/IMac_Bondi_Blue.jpg/440px-IMac_Bondi_Blue.jpg" />
	</main>
</Layout>
