---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pages = import.meta.glob('./*.md', { eager: true });
---

<Layout title="Kawakami Moeki">
	<main>
		<h1>Kawakami Moeki</h1>
		<ul>
      <li>
        <a href="httposs://github.com/kawakamimoeki">github.com/kawakamimoeki</a>
      </li>
      <li><a href="https://x.com/moekiorg">x.com/moekiorg</a></li>
      <li><a href="mailto:hi@moeki.org">hi@moeki.org</a></li>
    </ul>
		<p>I'm interested in the following topics.</p>
		<ul class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-7 gap-2">
			{Object.keys(pages).map((name: string) => {
				const page = pages[name] as any;
				const image = page.rawContent().match(/!\[.*?\]\((.*?)\)/)?.[1];
				return <Card title={page.url} url={page.url} img={image} />
			})}
		</ul>
		<p>&copy; 2024 Moeki Kawakami. All rights reserved.</p>
	</main>
</Layout>

<style>
</style>
