---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Macintosh">
	<main>
		<h1>Macintosh</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Macintosh_128k_transparency.png/440px-Macintosh_128k_transparency.png" />
	</main>
</Layout>
