---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Whole Earth Catalog">
	<main>
		<h1>Whole Earth Catalog</h1>
    <img src="https://greenz.jp/main/wp-content/uploads/2009/03/090311_01.jpg" class="w-64" />
  </main>
</Layout>
