---
import Layout from '../layouts/Layout.astro';
---

<Layout title="アラン・ケイ">
	<main>
		<h1>アラン・ケイ</h1>
    <img src="https://aes2.org/wp-content/uploads/2023/08/Alan_Kay_Photo.jpg.webp" class="w-64" />
  </main>
</Layout>
