---
import Layout from '../layouts/Layout.astro';
---

<Layout title="アポロ11号">
	<main>
		<h1>アポロ11号</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Aldrin_Apollo_11_original.jpg/520px-Aldrin_Apollo_11_original.jpg" />
	</main>
</Layout>
