---
import Layout from '../layouts/Layout.astro';
---

<Layout title="イマジニアリング">
	<main>
		<h1>イマジニアリング</h1>
    <a href="/ディズニー">ディズニー</a>
    <img src="https://dtimes.jp/wp-content/uploads/2020/06/tis-102-4_2164d983.jpeg" />
	</main>
</Layout>
