---
import Layout from '../layouts/Layout.astro';
---

<Layout title="オブジェクトはコンピュータ">
	<main>
		<h1>オブジェクトはコンピュータ</h1>
    <p><a href="/alan-kay">アラン・ケイ</a>の言葉です。</p>
    <p>ここで補足説明をしておきましょう</br>
私（アラン・ケイ）が1966年頃に「オブジェクト」と名付けたものについて考える時は、我々がコンピュータと思うものと外見上同一のエンティティについて話しています（これは単にメッセージを送り結果を得るということだけではなく、そのコンピュータの内部で起こっているものが許可しない限り、我々はメッセージで内部を頭くことも、命令を下すこともできないことを意味します）<br>
外からは「オブジェクト」に強制的に何かをさせることはできません<br>
できるのは「お願い」や「問合せ」だけなのです<br>
別の見方では、この「オブジェクト」（すなわちコンピュータ）はある種の「サーバー」です（この用請は他の意味合いでも使われるため慎重にすべきですが、「オブジェクト」の性質を表すのに良い言葉だと思います）<br>
あるいは「完全なカプセル化」と呼ぶのもよいでしょう<br>
この観点からすると、中身が何であるかはわかりません<br>
ハードウェアだけかもしれません<br>
変数やメソッドかもしれません<br>
ある種のオントロジー【エキスパートシステムやAIなど、より高度に組織化された情報体系】かもしれません<br>
またはそれらの混合かもしれません<br>
これが「オブジェクト」をネットワーク上のコンピューター、特に大規模な世界規模のネットワークに喩えることの意味です<br>
この「オブジェクト」という考え方を導入することで、大規模なシステムに必要な要素を、データ構造や手続きで事足りていた昔の小規模なシステムのときと同様に、よりシンプルな形で提供できるようになります<br>
また、あらゆる規模において、従来のデータ構造や手続きに関する問題の一部は「システムを複数の万能なサーバーにより構成する」という考え方に頭を切り替えることで解消できるでしょう
    </p>
  </main>
</Layout>
