---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Douglas Engelbart">
	<main>
		<h1>Douglas Engelbart</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Douglas_Engelbart_in_2008.jpg/220px-Douglas_Engelbart_in_2008.jpg" class="w-64" />
  </main>
</Layout>
