---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ダグラス・エンゲルバート">
	<main>
		<h1>ダグラス・エンゲルバート</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Douglas_Engelbart_in_2008.jpg/220px-Douglas_Engelbart_in_2008.jpg" class="w-64" />
  </main>
</Layout>
