---
import Layout from '../layouts/Layout.astro';
---

<Layout title="パーキンソンの法則">
	<main>
		<h1>パーキンソンの法則</h1>
    <h2>第1法則</h2>
    仕事の量は、完成のために与えられた時間をすべて満たすまで膨張する

    <h2>第2法則</h2>
    支出の額は、収入の額に達するまで膨張する

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Cyril_Northcote_Parkinson_%281961%29.jpg/400px-Cyril_Northcote_Parkinson_%281961%29.jpg" />
	</main>
</Layout>
