---
import Layout from '../layouts/Layout.astro';
---

<Layout title="使い易さが大事だとしたら、大人もいまだ三輪車に乗っているに違いない">
	<main>
		<h1>使い易さが大事だとしたら、大人もいまだ三輪車に乗っているに違いない</h1>
    <a href="/ダグラス・エンゲルバート">ダグラス・エンゲルバート</a>
  </main>
</Layout>
