---
import Layout from '../layouts/Layout.astro';
---

<Layout title="春の祭典">
	<main>
		<h1>春の祭典</h1>
    <a href="/イーゴリ・ストラヴィンスキー">イーゴリ・ストラヴィンスキー</a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/RiteofSpringDancers.jpg/640px-RiteofSpringDancers.jpg" />


	</main>
</Layout>
