---
import Layout from '../layouts/Layout.astro';
---

<Layout title="邏ｰ驥取匐閾｣">
	<main>
		<h1>邏ｰ驥取匐閾｣</h1>
    <img src="https://hosonoharuomi.jp/wp-content/uploads/2016/11/philharmony.jpg" class="w-[400px]" />
	</main>
</Layout>
