---
interface Props {
	title: string;
	url: string;
	img: string;
}

const { title, url, img } = Astro.props;
---

<li class="text-black p-4">
	<a href={url}>
		<h2>
			{title}
		</h2>
		<p>
			<img src={img} class="w-64" />
		</p>
	</a>
</li>
<style>
	
</style>
